body
{
	background-color: beige;
}

button{
	border-color: brown;s
}
p{
	font-size: 30px;
	box-sizing: border-box;
	width: auto;
	height: auto;
	padding: 50px;
	border: solid 10px black;
	background-color: pink;
	text-align: center;

}

.box{
	background-color: grey;
	color: white;
	box-sizing: border-box;
	padding: 20px;
	margin: 40px;
	border: 10px solid purple;
}

h2{
	font-size: 60px;
	margin: 0 auto;
	background-color: #fa8072;
}

.content{
	border: 10px solid #000;
	padding: 100px;
	text-align: center;
	margin: 100px auto;
}