body
{
	background-color: beige;
}

button{
	border-color: brown;s
}
p{
	font-size: 30px;
	width: 90px;
	height: 90px;
	padding: 50px;
	border: solid 10px black;
	background-color: pink;
	text-align: center;

}